{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3">
    
<h1>Register</h1>
  <form method="POST" action="">
        {% csrf_token %}

        {% if form.errors %}
        
        <div class="alert alert-danger" role="alert">
            Invalid Form
            {% for field in form %}
            {% if field.errors %}
            {{field.label_tags}}:{{field.errors}}
            {% endif %}
            {% endfor %}
        </div>
        
        {% endif %}

        {{ form.as_p }}
  
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}